/* Reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  /* Layout Geral */
  body {
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Formulário de Cadastro */
  .form-container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Campos do Formulário */
  form label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
  
  form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  form button {
    display: inline-block;
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  form button:hover {
    background-color: #ff6f61;
    transform: scale(1.05);
  }
  
  /* Footer */
  .form-footer {
    text-align: center;
    font-size: 14px;
  }
  
  .form-footer a {
    color: #d32f2f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .form-footer a:hover {
    color: #ff6f61;
  }
  